opencv-python
langchain
langchain-core
langchain-community
langgraph
langchain-ollama
python-dotenv
pyaudio
soundfile
SpeechRecognition
faster-whisper
ollama
pyttsx3
numpy
ctranslate2
mss
chainlit
aiofiles
